:root {
  --text-color: #f1b2ce;
  --brand-color: #db00ff;
  --secondary-color: #ff0070;
  --secondary-color-o-40: #ff007040;
  --accent-color: #ff0070;
  --highlight-color: #000028;

  --page-font-family: "IBM Plex mono", monospace;
  --page-background-image: url("../images/cover-image.png");
  --page-background-color: #000028;

  --rec-decor-visibility: visible;
}